@import url("Pages/Pages.css");
@import url("Pages/Noticia.css");
@import url("Pages/Bloques.css");

main {
  display: flex;
  flex-direction: column;
  padding: 6rem 0 2rem;
  margin: 0.5rem;
}

.widgets-section {
  display: flex;
  justify-content: space-between;
}

.noticia-section {
  width: 100%;
  max-width: 1500px;
  margin: 2rem 0;
}

.image-container {
  position: relative;
  width: 100%;
}

.text-overlay {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
  text-align: left;
  z-index: 1;
}

.text-overlay h1 {
  font-size: 2rem;
  font-weight: bold;
  margin: 0.5rem 0;
  max-width: 50%;
}

.text-overlay h2 {
  font-size: 1.2rem;
  margin: 0;
  max-width: 70%;
}

.noticia-section a:hover h1,
.noticia-section a:hover h2 {
  text-decoration: underline;
}

.noticia-section article {
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 1fr));
  gap: 20px;
  width: 100%;
  margin-top: 2rem;
}

.noticia-section article a {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 400px;
  max-width: 100%;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.noticia-section article a h1 {
  font-size: 1.3rem;
  font-weight: bold;
  margin: 0.2rem 0.5rem 1.5rem;
  color: #000;
}

.noticia-section article a img,
.noticia-section article a video {
  width: 100%;
  max-width: 400px;
  height: 200px;
  object-fit: cover;
  overflow: hidden;
}

.noticia-section article a:hover h1 {
  text-decoration: underline;
}

.noticia-section article a:hover img,
.noticia-section article a:hover video {
  transform: scale(1.1);
}

@media screen and (max-width: 1024px) {
  .noticia-section {
    width: 365px;
    margin: 1rem;
  }
}
