@import url("Pages/Pages.css");
@import url("Pages/Noticia.css");
@import url("Pages/Bloques.css");

main {
  display: flex;
  flex-direction: column;
  padding-top: 5rem;
  margin: 0.5rem;
}

.widgets-section {
  display: flex;
  justify-content: space-between;
}

.widgets-section img {
  background: #86082eb2;
  border-radius: 8px;
}

.noticia-section {
  width: 100%;
  max-width: 1500px;
  margin: 2rem 0;
}

.image-container {
  position: relative;
  width: 100%;
}

.text-overlay {
  position: absolute;
  padding: 1rem;
  bottom: 0;
  left: 0;
  color: white;
  text-align: left;
  z-index: 1;
  background: #00000031;
}

.text-overlay h1 {
  font-size: 2rem;
  font-weight: bold;
  margin: 0.5rem 0;
  max-width: 70%;
}

.text-overlay h1:hover {
  text-decoration: underline;
}

.text-overlay h2 {
  font-size: 1.2rem;
  margin: 0;
  max-width: 80%;
}

.noticia-grid {
  display: grid;
  grid-template-columns: auto min-content;
  gap: 20px;
  max-width: 1500px;
  margin: 2rem 0;
  align-items: start;
}

.noticia-destacada {
  position: relative;
  width: 100%;
}

.noticia-imagen {
  width: 100%;
  max-height: 600px;
  object-fit: cover;
}

.noticias-secundarias {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: min-content;
}

.noticia-secundaria {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  width: 300px;
}

.noticia-secundaria h1 {
  font-size: 1.2rem;
  font-weight: 900;
  margin: 10px;
}

.noticia-secundaria:hover {
  transform: scale(1.05);
}

.noticias-grid {
  grid-column: 1 / 3;
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 1fr));
  gap: 20px;
  margin-top: 2rem;
}

.noticia-grid-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.noticia-grid-item h1 {
  font-size: 1.3rem;
  font-weight: 900;
  margin: 0.5rem;
  margin-bottom: 1rem;
}

.noticia-grid-item:hover {
  transform: scale(1.05);
}

.category-noticia-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-image: url("/CategoriaBG.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 1.5rem;
}

.category-text-overlay {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  height: 100%;
  padding: 0 1rem;
  text-align: left;
  z-index: 1;
}

.category-link-noticia {
  font-size: 2rem;
  font-weight: bold;
  margin: 0.5rem 0;
  padding-left: 0.5rem;
  max-width: 50%;
  position: relative;
  display: inline-block;
  z-index: 2;
}

.category-link-noticia::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 60%;
  height: 50%;
  background: #8d004f;
  z-index: -1;
}

.category-link-noticia:hover {
  color: #000;
}

.category-text-overlay h1 {
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 2.5rem;
}

.category-text-overlay h2 {
  font-size: 1.2rem;
  font-weight: 900;
  line-height: 2rem;
}

.category-leer-noticia {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.8rem 1.5rem;
  width: 18%;
  background-color: white;
  color: black;
  font-weight: bold;
  border-radius: 20px;
  text-decoration: none;
}

.category-image-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.category-leer-noticia:hover {
  background-color: #8d004f;
  font-weight: 900;
  color: #fff;
  transition: transform 0.3s ease-in-out;
}

.noticia-section article {
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 1fr));
  gap: 20px;
  width: 100%;
  margin-top: 2rem;
}

.noticia-section article a {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 400px;
  max-width: 100%;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.noticia-section article a:hover {
  transform: scale(1.05);
}

.noticia-section article a h1 {
  font-size: 1.3rem;
  font-weight: bold;
  margin: 0.2rem 0.5rem 1.5rem;
  color: #000;
}

.noticia-section article a img,
.noticia-section article a video {
  width: 100%;
  max-width: 400px;
  height: 200px;
  object-fit: cover;
  overflow: hidden;
}

@media screen and (max-width: 1024px) {
  .noticia-section {
    width: 365px;
    margin: 1rem;
  }

  .noticia-grid {
    grid-template-columns: 1fr;
  }

  .noticias-secundarias {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .noticias-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
