.category-main {
  padding-top: 3rem;
}

.category-section-h1 {
  font-size: 2rem;
  font-weight: 900;
  color: #000;
  border-bottom: 2px #000 solid;
  width: 65%;
}

.pages-title {
  display: flex;
  align-items: center;
  background: #86082e;
  border-radius: 8px;
  color: #fff;
  padding: 1rem;
  margin-top: 1rem;
}

.pages-title h1 {
  font-size: 1.5rem;
  font-weight: 700;
}

.terminos-main {
  max-width: 800px;
  margin: 0.5rem auto;
  padding: 5rem 2rem 2rem;
  font-family: Arial, sans-serif;
  color: #333;
}

.terminos-main h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.terminos-main h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 1.5rem;
}

.terminos-main h3 {
  font-size: 1.25rem;
  font-weight: bold;
  margin-top: 1rem;
}

.terminos-main p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1rem;
}

.terminos-main a {
  color: #007bff;
  text-decoration: underline;
}

.terminos-main a:hover {
  color: #0056b3;
}
