.clima-container {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  color: #111318;
  font-size: 0.85rem;
}

.clima-fecha {
  font-weight: 400;
  margin-right: 6rem;
}

.clima-info {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.clima-icono {
  width: 28px;
  height: 28px;
  object-fit: contain;
  margin: -4px 0;
}

.clima-temp {
  font-weight: 700;
}

@media screen and (max-width: 600px) {
  .clima-container {
    font-size: 0.75rem;
    gap: 0.5rem;
  }

  .clima-ciudad {
    display: none;
  }
}
