.clima_widget {
  display: flex;
  flex-direction: column;
  position: absolute;
}

.clima-widget-image {
  background-image: url("/ClimaMdp.jpeg");
  background-size: cover;
  background-position: center;
  margin: -2rem 1rem 2rem 1rem;
  position: relative;
  width: 240px;
  height: 580px;
  border-radius: 1rem;
}

.clima-widget-image ul {
  width: 100%;
  height: min-content;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  align-items: center;
}

.clima-widget-title {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  margin: 0.5rem;
  padding: 0.5rem;
  height: min-content;
  display: flex;
  justify-content: center;
  font-size: 1.7rem;
  font-weight: bold;
}

.clima-widget-title svg {
  margin-left: 0.5rem;
}

.clima-widget-description {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  display: flex;
  justify-content: flex-flex-end;
  align-items: center;
}

.clima-widget-icon {
  height: 90px;
  width: 90px;
}

.clima-widget-temp {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.7rem;
}

.clima-widget-maxMinTemp {
  grid-row: 3 / 4;
  grid-column: 1 / 2;
  font-size: 0.7rem;
  padding-right: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.clima-widget-wind {
  grid-row: 3 / 4;
  grid-column: 2 / 3;
  display: flex;
  justify-content: flex-start;
  font-size: 1.3rem;
}

.clima-widget-wind svg {
  margin-right: 0.3rem;
}

.clima-widget-vis {
  grid-row: 4 / 5;
  grid-column: 1 / 3;
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

.clima-widget-vis svg {
  margin-right: 0.3rem;
}

.clima-widget-hum {
  grid-row: 5 / 6;
  grid-column: 1 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

.clima-widget-hum svg {
  margin-right: 0.3rem;
}
