@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("../styles/Styles.css");

@font-face {
  font-family: "Serithai";
  font-style: normal;
  font-weight: 400;
  src: url("https://fonts.cdnfonts.com/s/26633/Serithai-Regular.woff")
    format("woff");
}

body {
  color: #86082e;
  background: #ebebe3;
  font-family: "Serithai", sans-serif;
}

.button:hover {
  background: linear-gradient(to bottom, #86082e, #a32d41);
  color: #fff;
  font-weight: bold;
  opacity: 0.9;
  border-color: #000;
}

.headersButtons:hover {
  font-weight: bold;
  color: #000;
  stroke: #000;
  transform: scale(1.1);
  transition: transform 0.3s ease;
  z-index: 1;
}

.headersButtons:hover svg {
  stroke: #000;
}

.title_hover:hover {
  text-decoration: underline;
  transform: scale(1.1);
  transition: transform 0.3s ease;
  z-index: 1;
}

.ultimasNoticias_link:hover .noticias_title {
  text-decoration: underline;
}

.noticepage_masRecientes_notices:hover .noticias_title {
  text-decoration: underline;
}

.video-container {
  max-width: 100%;
  height: 100%;
}

.noticepage_masRecientes_image {
  margin: auto;
  height: 170px;
  width: min-content;
}

@media screen and (min-width: 1025px) and (max-width: 1600px) {
  body {
    font-size: 12px;
    color: #86082e;
    background: #ebebe3;
    font-family: "Serithai", sans-serif;
  }

  .social_buttons {
    width: 28px;
    height: 28px;
  }

  /* SECTION */

  .noticepage_masRecientes_title {
    font-size: 30px;
  }

  /* CATEGORYPAGE */

  .main_section_ultimasNoticias {
    margin-left: 3rem;
    margin-right: 3rem;
  }

  .ultimasNoticias_image {
    max-height: 12rem;
  }
}

/* ----------o----------o----------o----------o----------o----------o----------o----------o----------o----------o----------o---------- */

@media screen and (max-width: 600px) {
  .display_none {
    display: none;
  }

  body {
    font-size: 10px;
    color: #86082e;
    background: #ebebe3;
    font-family: "Serithai", sans-serif;
  }

  .social_buttons {
    width: 20px;
    height: 20px;
  }

  /* SECTION */

  .main_section {
    display: flex;
    flex-direction: column;
    padding-top: 4rem;
    padding-bottom: 2rem;
  }

  /* NOTICEPAGE */

  .noticepage_main_section {
    display: flex;
    flex-direction: column;
    margin: 1rem;
  }

  .noticepage_title {
    font-size: 32px;
  }

  .noticepage_bajada {
    font-size: 16px;
    line-height: 1.5;
  }

  .noticepage_fecha {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .noticepage_div_image {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin-top: 1rem;
  }

  .noticepage_image {
    max-height: 200px;
    width: min-content;
  }

  .noticepage_video {
    max-height: 600px;
    width: min-content;
  }

  .noticepage_epigrafe {
    width: 100%;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    font-size: 10px;
  }

  .noticepage_autor {
    height: 3rem;
    width: 10rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .noticepage_autor_image {
    width: 30px;
  }

  .noticepage_autor_name {
    font-size: 10px;
    line-height: 1.5;
  }

  .noticepage_parrafo {
    font-size: 16px;
    line-height: 1.7;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .noticepage_masRecientes_category {
    font-size: 18px;
    padding: 1rem;
    padding-top: 0;
    padding-bottom: 0;
  }

  .noticepage_masRecientes_notices {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .noticepage_masRecientes_image {
    height: 170px;
    width: min-content;
  }

  .noticepage_masRecientes_title {
    width: 100%;
    font-size: 14px;
    line-height: 1.5;
    margin-top: 1rem;
    padding-top: 0.5rem;
    padding-left: 0;
    border-left: none;
    border-top-width: 1px;
  }

  .notice-video-container video {
    width: 100%;
    height: auto;
  }

  .video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
  }

  .video-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .array_image_noticepage {
    height: 150px;
    width: min-content;
  }

  .array_image_noticepage_epigrafe {
    padding: 0.5rem;
    font-size: 16px;
  }

  /* pagina de ultimas noticias */

  .main_section_ultimasNoticias {
    width: min-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.75rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }

  .ultimasNoticias_article {
    width: min-content;
    padding: 0.5rem;
  }

  .ultimasNoticias_link {
    margin: 0.5rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
  }

  .ultimasNoticias_image_content {
    border-right: none;
  }

  .ultimasNoticias_image {
    max-height: 150px;
    max-width: min-content;
  }

  .ultimasNoticias_title {
    text-align: justify;
    line-height: 1.2;
    margin: 0.25rem;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    font-size: 20px;
  }

  .ultimasNoticias_bajada {
    text-align: justify;
    line-height: 1.5;
    font-size: 13px;
    margin: 0.25rem;
  }
}
