@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("../styles/Styles.css");

@font-face {
  font-family: "Serithai";
  font-style: normal;
  font-weight: 400;
  src: url("https://fonts.cdnfonts.com/s/26633/Serithai-Regular.woff")
    format("woff");
}

body {
  background: #ebebe3;
  font-family: "Serithai", sans-serif;
}

.button:hover {
  font-weight: bold;
  color: #000;
  stroke: #000;
  transform: scale(1.1);
  transition: transform 0.3s ease;
  z-index: 1;
}

.button:hover svg {
  stroke: #000;
}

.title-hover:hover {
  text-decoration: underline;
  transform: scale(1.1);
  transition: transform 0.3s ease;
  z-index: 1;
}

.video-container {
  max-width: 100%;
  height: 100%;
}

@media screen and (min-width: 1025px) and (max-width: 1600px) {
  body {
    font-size: 12px;
    background: #ebebe3;
    font-family: "Serithai", sans-serif;
  }
}

/* ----------o----------o----------o----------o----------o----------o----------o----------o----------o----------o----------o---------- */

@media screen and (max-width: 600px) {
  body {
    font-size: 10px;
    background: #ebebe3;
    font-family: "Serithai", sans-serif;
  }

  .button:hover svg {
    width: 20px;
    height: 20px;
  }

  .array_image_noticepage {
    height: 150px;
    width: min-content;
  }

  .array_image_noticepage_epigrafe {
    padding: 0.5rem;
    font-size: 16px;
  }
}
