@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: f, f, f;
    --background-end-rgb: f, f, f;
  }
}

@font-face {
  font-family: 'Serithai';
  font-style: normal;
  font-weight: 400;
  src: url('https://fonts.cdnfonts.com/s/26633/Serithai-Regular.woff') format('woff');
}

body {
  color: #86082E;
  background: #EBEBE3;
  font-family: 'Serithai' sans-serif;
}
